.attract-loop {
  position: absolute;
  z-index: 9;
  height: 1920px;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1080px;
    z-index: 8;
    background: linear-gradient(to bottom, $attract-light, $attract-dark);
  }
}

.attract-loop__content {
  position: absolute;
  z-index: 9;
  width: 1080px;
  height: 100%;
}