.categories-list {
  text-align: center;
  margin:0 0 61px 0;
}

.categories-list__item {
  margin: 0 0 30px;
  position: relative;
}

.categories-list__item--photo {
  .btn--large-icon::after{
    background: url(../../../images/categoriesSprite.png), linear-gradient(-60deg, $button-icon-light-stop, $button-icon-dark-stop); 
    background-position: left center;  
    background-blend-mode: multiply;
  }  
}

.categories-list__item--theme {
  .btn--large-icon::after{
    background: url(../../../images/categoriesSprite.png), linear-gradient(-60deg, $button-icon-light-stop, $button-icon-dark-stop); 
    background-position: -111px center;
  }
}

.categories-list__item--message {
  .btn--large-icon::after{
    background: url(../../../images/categoriesSprite.png), linear-gradient(-60deg, $button-icon-light-stop, $button-icon-dark-stop); 
    background-position: -222px center;
  }
}

.categories-list__item--sport {
  .btn--large-icon::after{
    background: url(../../../images/categoriesSprite.png), linear-gradient(-60deg, $button-icon-light-stop, $button-icon-dark-stop); 
    background-position: -333px center;
  }
} 

.categories-list__intro {
  color: $dark;
  position: absolute;
  margin:0 0 0 -310px;
  font-size: 36px;
  width: 290px;
  text-align: right;
  top: 48px;
}