@font-face {
  font-family: 'icomoon';
  src:
    url('../../fonts/icomoon.ttf?djx6u7') format('truetype'),
    url('../../fonts/icomoon.woff?djx6u7') format('woff'),
    url('../../fonts/icomoon.svg?djx6u7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-primary::before {
  content: "\e901";
}

.icon-edit-primary::before {
  content: "\e902";
}

.icon-next-primary::before {
  content: "\e903";
}

.icon-ok-primary::before {
  content: "\e904";
}

.icon-prev-primary::before {
  content: "\e905";
}
