.main-header {
  @include row();
  margin: 4px 0 68px;
  .default-btn--half-left {
    position: relative;
    right: -4px;
  }
}

.main-header__heading {
  @include column(6,8);
  text-align: center;
  &::after {
    content: '';
    display: block;
    height: 1px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    margin: 0 30px;
  }    
}
