.previews-list {
  margin:0 0 53px 0;
}

.previews-list__header {
  text-align: center;
  margin: 0 0 30px 0;
}

.previews-list {
  .horizontal-list {
    text-align: center;  
  }

  .horizontal-list__item{
    margin:0 9px;
  }  
}


