.previews-list {
  margin: 0 0 53px;

  .horizontal-list {
    text-align: center;    
  }

  .horizontal-list__item {
    margin: 0 9px;
  }
}

.previews-list__header {
  text-align: center;
  margin: 0 0 30px;
}

.previews-list .default-btn--micro {
  position: absolute;
  font-size: 20px;
  color: $default-icon;
}

.previews-list {
  .preview-icon .default-btn--micro:first-child {
    top: 0;
    right: 0;
  }

  .preview-icon .default-btn--micro:last-child {
    bottom: 0;
    left: 0;
  }
}
