%default-btn {
  color: $light;
  border: none;
  background: $default-blue;
  box-shadow: inset 0 2px 3px -1px transparentize($light, 0.25), 0 10px 10px transparentize($dark, 0.75);
  width: 245px;
  padding: 12px 0;
  font-family: $default-font;
  font-size: 36px;
  line-height: 1;
}

.default-btn {
  @extend %default-btn;
  border-radius: 30px;
  &:active,&:focus {
    background: $active-button;
    box-shadow: inset 0 2px 3px -1px transparentize($light, 0.25), 0 5px 5px transparentize($dark, 0.55);
  }
}

.default-btn--half-right {
  @extend %default-btn;
  border-radius: 0 50% 50% 0;
  width: 133px;
  height: 126px;
}

.default-btn--half-left {
  @extend %default-btn;
  border-radius: 50% 0 0 50%;
  width: 133px;
  height: 126px;
}

.default-btn--round {
  @extend %default-btn;
  border-radius: 50%;
  width: 78px;
  height: 78px;
}

.default-btn--large-round {
  @extend %default-btn;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  &:active,&:focus {
    background: $active-button;
    box-shadow: inset 0 2px 3px -1px transparentize($light, 0.25), 0 10px 10px transparentize($dark, 0.75), 0 0 15px transparentize($active-button, 0.5);
  }
}

.default-btn--round-control {
  @extend %default-btn;
  color: $dark;
  border-radius: 50%;
  width: 102px;
  height: 102px;
  font-size: 24px;
  background: linear-gradient(to bottom, $button-light-stop, $button-dark-stop);
}

.btn--large-icon {
  color: $dark;
  border: none;
  background: linear-gradient(to bottom, $button-personalise-light-stop, $button-personalise-dark-stop);
  width: 465px;
  height: 131px;
  border-radius: 70px;
  font-size: 36px;
  box-shadow: 0 2px 6px transparentize($dark, 0.65);
  text-transform: uppercase;
  font-family: $default-font;
  position: relative;
  &::before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 111px;
    height: 111px;
    position: absolute;
    left: 11px;
    top: 50%;
    margin: -55px 0 0;
  }
  &::after {
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    left: 11px;
    width: 111px;
    height: 111px;
    top: 50%;
    border-radius: 50%;
    margin: -55px 0 0;
  }
}

.default-btn--double {
  border-radius: 41px;
  background: linear-gradient(to bottom, $button-personalise-light-stop, $button-personalise-dark-stop);
  color: $dark;
  padding: 18px 0 11px;
  box-shadow: 0 2px 6px transparentize($dark, 0.65);
  width: 291px;
  border: none;
  text-transform: uppercase;
  font-family: $default-font;
  display: block;
}

.default-btn--double__first-line {
  font-size: 18px;
  display: block;
  line-height: 0.75;
}

.default-btn--double__second-line {
  font-size: 24px;
}

.is-disabled {
  background: $disabled;
  color: $disabled-text;
  box-shadow: none;
}

