.confirm-photo {
  .preview-icon--large {
    width: 510px;
    height: 510px;
  }
  .preview-icon--large::after {
    width: 366px;
    height: 366px;
  }
  .photo-wrapper {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .horizontal-list {
    margin: 0 0 145px;
  }
  .horizontal-list__item {
    margin: 0 15px;
  }
  .default-btn--large-round-image .default-btn__image {
    border-radius: 50%;
    max-width: 151px;
    -webkit-filter: grayscale(100%) contrast(100%) brightness(1.2);
  }
  .horizontal-list__item:nth-child(1) .default-btn__image{
    -webkit-filter: grayscale(100%);
  }
  .horizontal-list__item:nth-child(2) .default-btn__image{
    -webkit-filter: grayscale(100%) contrast(100%) brightness(1.2);
  }
  .horizontal-list__item:nth-child(3) .default-btn__image{
    -webkit-filter: grayscale(100%) contrast(150%) brightness(0.9);
  }
  .horizontal-list__item:nth-child(4) .default-btn__image{
    -webkit-filter: grayscale(100%) contrast(240%) brightness(0.9);
  }
  
}