.cup-size {
  .cup-size-list {
    @include row();
  }
  .main-header {
    @include row();
    margin: 4px 0 31px;
  }
  .cup-size-list .horizontal-list__item {
    @include column(3, 8);
  }
  .horizontal-list__item {
    margin: 0 10px 30px;
    .default-btn__image-label {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 154px;
    }
  }
  .previews-list {
    margin: 0 0 27px;
  }
}