.language-select {
  .main-header {
    margin: 0 0 400px;
  }
  .default-btn--double {
    height: 131px;
    width: 465px;
    border-radius: 100px;
    padding: 18px 0;
  }
  .default-btn--double__second-line {
    font-size: 60px;
  }
  .horizontal-list__item {
    margin: 0 10px;
  }
}