.team-personalisation {
	.main-header {
		margin: 0 0 30px;
	}
	.h2 {
		margin: 0 0 10px;
	}
	.team-wrapper {
		margin: 26px 0 0;
	}
	.personalisation-controls {
		padding: 0 0 41px;
		margin: 17px auto 0;
	}
	.horizontal-list__item {
		margin: 0 10px;
		position: relative;
		z-index: 2;
	}
}
