@import 'utilities/reset';
@import 'utilities/variables';
@import 'utilities/mixins';
@import 'utilities/helpers';

/* atoms */
@import 'atoms/_typography';
@import 'atoms/_buttons';
@import 'atoms/_grid';
@import 'atoms/_typography';
@import 'atoms/_headers';
@import 'atoms/_horizontal-list';

/* molecules */
@import 'molecules/_main-header';
@import 'molecules/_categories-list';
@import 'molecules/_previews-list';
@import 'molecules/_preview-icon--large';
@import 'molecules/_preview-icon';
@import 'molecules/_hero-image';
@import 'molecules/_icons';
@import 'molecules/_viewport';

/* organisms */
@import 'organisms/_pick-team';
@import 'organisms/_how-it-works';

/* OF SHAME */
.wrapper {
  background: url(../../images/main-background.png) no-repeat center top transparent;
  padding-bottom: 64px;
	height: 1920px;

  .default-btn--double {
    margin: 0 auto;
  }
}
